<form>
  <div data-ng-show="errors.length">
    <div class="bg-danger">
      <ul data-ng-repeat="error in errors">
        <li>{{error}}</li>
      </ul>
    </div>
  </div>
  <div class="form-group" data-ng-class="{'has-error': errorFields.name}">
    <label for="name">Как тебя зовут?</label>
    <input type="text" class="form-control" id="name" data-ng-model="user.name" placeholder="Name">
  </div>
  <div class="form-group" data-ng-class="{'has-error': errorFields.bonus}">
    <label for="availableBonus">Бонус доступный для возмещения</label>
    <input type="number" class="form-control" id="availableBonus" data-ng-model="user.bonus" placeholder="Available bonus">
  </div>
  <div class="form-group" data-ng-class="{'has-error': errorFields.bonusPercent}">
    <label for="compensatedPercent">Какой процент будем возмещать?</label>
    <input type="number" class="form-control" id="compensatedPercent" data-ng-model="user.bonusPercent" placeholder="Compensated percent">
  </div>
  <button type="submit" class="btn btn-default" data-ng-click="submit()">Погнали!</button>
</form>
