  <div class="col-md-8">
    <table class="table-bordered product-table" style="width: 100%">
      <tr>
        <th>Имя</th>
        <th>Цена без учета бонуса</th>
        <th>Цена с учетом бонуса</th>
        <th></th>
      </tr>
      <tr data-ng-repeat="prod in products">
        <td ng-show="editId !== prod.id"><a href="#" data-ng-click="edit(prod)">{{prod.name}}</a></td>  <td ng-show="editId === prod.id"> <input  type="text" data-ng-model="editProduct.name"> </td>
        <td ng-show="editId !== prod.id">{{prod.price}}</td> <td ng-show="editId === prod.id">    <input type="number" data-ng-model="editProduct.price">  </td>
        <td>{{prod.priceWithBonus}}</td>
        <td ng-show="editId !== prod.id"><a href="#" data-ng-click="deleteProduct(prod.id)">del</a></td> <td ng-show="editId === prod.id"> <a href="#" data-ng-click="updateProduct(editProduct)">save</a> | <a href="#" data-ng-click="cancelUpdate()">cancel</a></td> </td>
      </tr>
    </table>
    (Клик по имени, чтобы редактировать)
  </div>

  <div class="col-md-4">
    <form>
      <div data-ng-show="errors.length">
        <div class="bg-danger">
          <ul data-ng-repeat="error in errors">
            <li>{{error}}</li>
          </ul>
        </div>
      </div>
      <div class="form-group" data-ng-class="{'has-error': errorFields.name}">
        <input type="text" class="form-control" id="name" data-ng-model="product.name" placeholder="Name">
      </div>
      <div class="form-group" data-ng-class="{'has-error': errorFields.price}">
        <input type="number" class="form-control" id="availableBonus" data-ng-model="product.price" placeholder="Price">
      </div>
      <button type="submit" class="btn btn-default" data-ng-click="addProduct(product)">Добавить</button>
    </form>

  </div>
  <div>Оставшийся бонус: <b>{{availableBonus}}</b></div>

</div>
